/*The CSS code here was just stuff I was messing around with. You can use it or
modify it however you want - Matthew */

/* body {
  background-color: #eeeeee;
}

h1 {
  text-align: center;
}

/* .b1:hover {
  background-color: blue;
  color: white;;
}

.b1 {
  text-decoration: none;
  border-radius: 5px;
  border: solid 2px blue;
  color: blue;
  background-color: white;
  font-size: 20px;
}

.d1 {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
} */
