/*The CSS code here was just stuff I was messing around with. You can use it or
modify it however you want - Matthew */
/* body {
  background-color: #eeeeee;
}

h1 {
  text-align: center;
}

/* .b1:hover {
  background-color: blue;
  color: white;;
}

.b1 {
  text-decoration: none;
  border-radius: 5px;
  border: solid 2px blue;
  color: blue;
  background-color: white;
  font-size: 20px;
}

.d1 {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
} */


/*START OF MODAL TEST CSS*/

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  background-color: black;

}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

/*END OF MODAL TEST CSS*/


/* Nav-bar */
button {
  width: auto;
  border-radius: 5px;
  font-size: 15px;

}

.b1:hover {
  background-color: #fa2828;
  color: black;
}

.b2:hover {
  background-color: #fa2828;
  color: black;
}

.navlist button {
  /* color: #FCA311; */
  color: #fa2828;
  font-weight: bold;
  border: 2px solid #fa2828;
  background-color: black;
  width: auto;
  float: right;
  border-radius: 5px;
  font-size: 15px;
  margin: 10px;
  
  /* margin-top: 15px; */
}



.home-title {
  /* border: solid 1px blue; */
  /* position: fixed; */
  top: 0;
  margin-left: 15px;
  font-family: 'Palanquin Dark', sans-serif;
  float: left;
  /* color: #FCA311;
   */
   color: white;
}


.navlist ul {
  display: flex;
  justify-content: center;
  
}


.body {
  position: relative;
  top: 50px;
}

/* .navlist-wrapper {
  display: inline-block;
  align-items: center;
} */

.navlist {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navlist-wrapper{

  z-index: 10;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  opacity: 1;
  /* border: 1px solid red; */
  /* border-bottom: 5px #FCA311 solid;
   */
   border-bottom: 5px solid white;
  /* list-style: none; */
  display: block;
  /* display: flex; */
  /* justify-content: flex-end; */
  /* align-items: center; */
  

  position: fixed;
  top: 0;
  left: 0;
  /* border: solid 1px red; */
  width: 100%;
  height: auto;

}
.navlist-container {
  /* used to space the divs after the fixed navbar */
  left: 0;
  top: 0;
  height: 50px;
  position: relative;
  /* border: 1px solid blue; */
  margin: 0;
}


.d2 {
  position: relative;
  margin-top: 50px;
  width: 50%;
  min-width: 400px;
  /* border: solid 1px blue; */
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.b2 {
  margin: 20px;
  /* color: #FCA311; */
  color: #fa2828;
  border: 2px solid #fa2828;
  background-color: black;
  font-weight: bold;
  
}

.post-wrapper {
  /* padding-top: 15px; */
  /* background-color: rgb(240, 240, 230); */
  background-color: black;
  border-radius: 5px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 700px;
  min-height: 300px;
  position: relative;
  overflow: hidden auto;
  /* border: solid 3px #FCA311; */
  border: solid 3px white;
  box-shadow: 0 4px 8px 0 rgba(250,40,40,0.5);
  transition: 0.3s;
}

.post-feed {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom:15px;
  padding: 10px;
  /* background-color: #14213D; */
  background-color: black;
  position: relative;
  /* border-bottom: 1px gray solid; */
  width: 97%;
  left: 1%;
}
.post-feed-desc {
  width: 100%;
  /* border: 1px solid red; */
  display: none;
  color: #fa2828;
  font-size: 15px;
  text-align: center;
}
@keyframes slides {
  0% {
    display: none;
  }
  100% {
    /* height: 100px; */
    display: block;
  }
}
.post-feed:hover .post-feed-desc {
  background-color: #e5e5e5;
  display: block;
  /* animation: slides 1s forwads; */
  /* display: block; */
}
.post-feed:hover .post-feed-wrapper {
  color: #fa2828;
  background-color: #e5e5e5;
}

.post-feed-wrapper {
  /* border-radius: 5px;
  margin-top: 15px;
  margin-bottom:15px;
  padding: 10px; */
  /* border: 2px solid blue; */
  /* background-color: #14213D; */
  background-color: black;
  color: #e5e5e5;
  position: relative;
  width: 100%;
  /* width: auto; */
  /* border-bottom: 1px gray solid; */
  /* width: 97%;
  left: 1%; */

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: auto;
}

.post-feed-wrapper form {
  display: flex;
  /* border: 3px solid white; */
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}



/* .post-feed-wrapper-desc {
  position: relative;
  border: 2px solid red;
  height: 180px;
  top: -200px;
}*/


.post-feed-wrapper img {
  height: 150px;
  border-radius: 20px;
}

.img-wrapper {
  width: 40%;
  min-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  height: 180px;
  /* border: 1px solid red; */
}

.demand-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 180px;
  /* border: 1px solid red; */
}

.ransom-wrapper {
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 180px;
  /* border: 1px solid red; */
}

.ransom-wrapper input {
  background-color: black;
  border: 2px solid #28fa28;
  color: #28fa28;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
}

.ransom-wrapper input:hover {
  background-color: #28fa28;
  color: black;
  border: 2px solid black;
}

span {
  font-size: 20px;
  font-weight: bold;
}



.post-feed-wrapper li {
  font-family: 'Almarai', sans-serif;
  /* border: 1px solid blue; */
  text-align: left;
  margin: 5px;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.post-feed:hover {
  background-color: #e5e5e5;
  font-weight: bold;
  color: #fa2828;
}

.create-wrapper h1 {
  font-family: 'Palanquin Dark', sans-serif;
  color: white;
}

.create-wrapper {
  /* border: 2px solid blue; */
  color: #fa2828;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(250,40,40,0.5);
  transition: 0.3s;
  border-radius: 5px;
  border: 3px solid white;

  margin: 5% 2% 5% 2%;
  height: 500px;
  width: 96%;
}

.create-container label {
  font-weight: bold;
  font-size: 20px;
}

.create-container button {
  border-radius: 5px;
  color: #fa2828;
  border: 2px solid #fa2828;
  background-color: black;
  font-size: 20px;
  padding: 10px;
}


/* On mouse-over, add a deeper shadow */
.create-wrapper:hover {
  box-shadow: 0 8px 16px 0 rgba(250,40,40,0.2);
}

.create-wrapper form {
  /* border: 1px solid red; */
}

.create-wrapper input {
  padding: 10px;
  border: 2px solid #fa2828;
  border-radius: 5px;

  background-color: black;
  color: #fa2828;
  font-size: 20px;
}

::placeholder {
  color: #e5e5e5;
}


.create-wrapper input:hover, .create-container button:hover {
  background-color: #fa2828;
  color: black;

}